<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--SqlServer：  -->
    <!--<add name="DataContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DbDescription;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>-->
    <add name="DataContext" connectionString="Data Source=211.85.182.111;Initial Catalog=DbDescription;User Id=sa;Password=LBKlbk7474740;Connect Timeout=30;" providerName="System.Data.SqlClient" />
    <!--Mysql：MultipleActiveResultSets，App=EntityFramework不支持-->
    <add name="MySqlDataContext" connectionString="Data Source=211.85.182.111;Initial Catalog=DbDescription;User Id=root;Password=;Charset=utf8;Integrated Security=True;" providerName="MySql.Data.MySqlClient" />
    <!-- 主机名(127.0.0.1):端口号(默认6379)：1270.0.01:6379 -->
    <!-- allowAdmin： -->
    <!-- password： -->
    <!-- defaultdatabase：  -->
    <!-- ConfigurationOptions 包含大量的配置选项，一些常用的配置如下：
    
        abortConnect ： 当为true时，当没有可用的服务器时则不会创建一个连接
        allowAdmin ： 当为true时 ，可以使用一些被认为危险的命令
        channelPrefix：所有pub/sub渠道的前缀
        connectRetry ：重试连接的次数
        connectTimeout：超时时间
        configChannel： Broadcast channel name for communicating configuration changes
        defaultDatabase ： 默认0到-1,Redis默认的配置会生成db0~db15共16个db,如果没有指定用哪一个db则默认使用db0
        keepAlive ： 保存x秒的活动连接
        name:ClientName
        password:password
        proxy:代理 比如 twemproxy
        resolveDns : 指定dns解析
        serviceName ： Not currently implemented (intended for use with sentinel)
        ssl={bool} ： 使用ssl加密
        sslHost={string} ： 强制服务器使用特定的ssl标识
        syncTimeout={int} ： 异步超时时间
        tiebreaker={string}：Key to use for selecting a server in an ambiguous master scenario
        version={string} ： Redis version level (useful when the server does not make this available)
        writeBuffer={int} ： 输出缓存区的大小      
    -->
    <add name="RedisHosts" connectionString="127.0.0.1:6379,allowadmin=true,password=123456,abortConnect=false,connectTimeout=1000,connectRetry=1,syncTimeout=20000" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <!-- SqlServer 的entityFramework节点配置：
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </provider>
    </providers>
  </entityFramework>
-->
  <!-- MySql 的entityFramework节点配置：codeConfigurationType 配置可以到 MySqlDataContext 上以标签属性配置
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"/>
    </providers>
  </entityFramework>
-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
</configuration>